
body{
  background: #08080C;
  color: #f1f1f1;
}

#title{
  font-family: 'Oxanium', cursive;
  font-weight: 200;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 40px;
  max-width: fit-content;
}

#content {
  background-color: #0E1115;
  position: static;
  margin: auto;
  border: 2px solid #3A414C;
  border-radius: 8px;
  width: fit-content;
  min-width: 300px;
  padding: 20px;
  display: block;
} #content > div {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  padding: 8px;
  justify-content: space-between;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem
}

.labels{
  display: block;
  width: 200px;
  margin: 0 auto;
}

input{
  margin-top: 6px;
  padding: 6px 0;
  background-color:#34D178;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  border: 0;
  border-radius: 4px;
} ::placeholder{
  color: #f1f1f1;
}

#Submit_button{
  margin: 10px auto 2px;
} #Submit_button > button{
  width: 200px;
  padding: 10px 0px;
}

#Div_resultado{
  min-width: 300px;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 60px;
  margin-left: 30px;
}
